.host-tile {
    font-size: 16px;
    line-height: 1.2em;
    font-family: Helvetica, sans-serif; /* HelveticaNeue/HelveticaNeue-Bold cost money */

    padding: 30px;
    margin: 30px 0 0 30px;
    background: #FFF;

    flex: 1;
    height: 100%;
}

.host-tile-name {
    color: #000;
    font-weight: bold;
}

.list-layout .host-tile {
    flex-basis: auto;
}
