.app-entry {
    display: flex;
    margin-top: 23px;
    color: #4A4A4A;

}

.app-entry-name:hover {
    cursor: pointer;
    text-decoration: underline;
}

.app-entry-apdex {
    width: 20px;
    margin-right: 20px;
    font-size: 13px;
    height: 100%;
    opacity: 0.62;
}
